# Features merge into develop
# PRs targeting develop

name: CI (develop)

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  ci:
    uses: ./.github/workflows/ci-common.yaml
