# Release PRs into main
# Direct pushes (if allowed)

name: CI (production)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    uses: ./.github/workflows/ci-common.yaml
