# Develop is promoted to staging
# PRs targeting stage

name: CI (staging)

on:
  push:
    branches:
      - staging
  pull_request:
    branches:
      - staging

jobs:
  ci:
    uses: ./.github/workflows/ci-common.yaml
